<% include partials/header %>

<div class="ui container">
    <h1>Blog Posts</h1>
    <!--Use masonry.js classes to create a masonry grid-->
    <!--"data-masonry" initializes masonry-->
    <div    class="grid" 
            data-masonry='{ "itemSelector": ".grid-item", 
                            "columnWidth": ".grid-sizer", 
                            "percentPosition": true 
                            }'
    >
        <!--Loop within the masonry grid adds each entry in the "blogs" database-->
        <% blogs.forEach(function(blog){ %>
            <!-- Link that sends you to show with the right info -->
            <div class="grid-item grid-sizer">
                <div class="ui fluid card">
                    <a class="image" href="/blogs/<%= blog._id %>">
                        <img src="<%= blog.image %>" alt="a picture of <%= blog.title %>">
                    </a>
                    <div class="content">
                        <div class="header"> <%= blog.title %> </div>
                        <div class="description">
                            <%- blog.body.substring(0,100)%>...
                        </div>
                        <div class="meta">
                            <a><%= blog.created.toDateString() %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>  
</div>

<% include partials/footer %>