<% include partials/header %>


    <div class="ui main text container segment">
        <div class="ui center huge header">
            <%=blog.title%>
        </div> 
        <div
        <div class="ui field">
            <img class="ui rounded image" src="<%= blog.image%>">
        </div>
        <div class="ui item">
            <p class="post-date">&emsp;<%= blog.created.toDateString() %></p>
        </div>
        <br>  
        <div class="field">
            <p><%= blog.body %></p>
        </div> 
        <br>
        <div class="ui buttons">
            <form action="/blogs/<%= blog._id %>/edit" method="GET">
                <button class="ui right attached tiny button">Edit Post</button>
            </form>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="left attached ui tiny button">Delete Post</button>
            </form>
        </div>
    </div>

        

<% include partials/footer %>